@{
  ViewBag.Title = "Kodeord ændret";
  Layout = "_AdminLayout";
}

<body>
  <div>
    <h1>Dit kodeord er blevet ændret</h1>
    <br />
    <br />
    Vent venligst. Går til startsiden...
  </div>
</body>
