@model ChangePasswordViewModel

@{
  ViewBag.Title = "Ændre kodeord";
  Layout = "_AdminLayout";
}

<html>
<head>
  <meta name="viewport" content="width-device-width" />
  <title>Ændre kodeord</title>
</head>
<style>
  body {
    background-color: darkgray;
  }
</style>
<body>
  <div class="row">
    <div class="col-md-12">
      <form asp-action="EditPassword" method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="form-group">
          <label asp-for="CurrentPassword">Nuværende kodeord</label>
          <input class="form-control" asp-for="CurrentPassword" />
          <span class="text-danger" asp-validation-for="CurrentPassword"></span>
        </div>
        <div class="form-group">
          <label asp-for="NewPassword">Nyt kodeord</label>
          <input class="form-control" asp-for="NewPassword" />
          <span class="text-danger" asp-validation-for="NewPassword"></span>
        </div>
        <div class="form-group">
          <label asp-for="ConfirmPassword">Bekræft nyt kodeord</label>
          <input class="form-control" asp-for="ConfirmPassword" />
          <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
        </div>

        <div class="text-center">
          <button class="btn btn-lg btn-success" type="submit">Gem</button>
          <a class="btn btn-lg btn-light" asp-action="Index" asp-controller="Home">Annuller</a>
        </div>

      </form>
    </div>
  </div>
</body>
</html>

