@{
  ViewBag.Title = "Kodeord ændret";
  Layout = "_AdminLayout";
}

<head>
  <meta http-equiv="Refresh" content="1; @Url.Action("Index","Home")" />
  <title>StudentAdded</title>
</head>
<body>
  <div>
    <h1>Dit kodeord er blevet ændret</h1>
    <br />
    <br />
    Vent venligst. Går til startsiden...
  </div>
</body>
