@using Microsoft.AspNetCore.Authorization
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager
@inject IAuthorizationService authorizationService

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"]</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.css" />
  <link rel="stylesheet" href="~/css/site.css" />
  <link rel="stylesheet" href="~/css/Master.css" />
</head>

<body style="background-color: #454b52">

  @if (signInManager.IsSignedIn(User)) {
    <header>
      <nav class="bg-dark col-12 pt-2 border-bottom">
        <div class="row ml-5">
          <div class="col-10 row">

            <a class="astuff" asp-controller="Home" asp-action="Index">Hjem</a>

            @if ((await authorizationService.AuthorizeAsync(User, "SeStuderendePolicy")).Succeeded) {
              <a class="astuff" asp-action="Overview" asp-controller="Student">Studerende</a>
            }
            @if ((await authorizationService.AuthorizeAsync(User, "SeFagPolicy")).Succeeded) {
              <a class="astuff" asp-action="ViewCourses" asp-controller="Educator">Fag</a>
            }
            @if ((await authorizationService.AuthorizeAsync(User, "SeFraværPolicy")).Succeeded) {
              <a class="text-white astuff"  id="dropDownStats" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Statestik</a>
              <div class="dropdown-menu border border-info p-2 rounded" aria-labelledby="dropDownStats">
                <a class="dropdown-item bg-light" asp-controller="Charts" asp-action="CourseStudentsDays">Dage</a>
                <hr />
                <a class="dropdown-item bg-light" asp-controller="Charts" asp-action="CourseStudents">Semester</a>
              </div>
            }

            @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin")) {
              <div class="pl-3 mt-3" style="border-left: 1px solid white; height: 50px;"></div>
              <a class="astuff" asp-action="Overview" asp-controller="Education">Uddannelse</a>
              <a class="astuff" asp-controller="Admin" asp-action="ListRoles">Roller</a>
              <a class="astuff" asp-controller="Admin" asp-action="Index">Undervisere</a>
            }
          </div>

          <div class="col-2 ml-4">
            @if (signInManager.IsSignedIn(User)) {
              <div class="row">
                <div>
                  <form method="post" asp-action="Logout" asp-controller="Account">
                    <input class="p-3 mt-2" style="color: white; font-size: 20px; cursor: pointer; background-color: transparent; border: transparent" type="submit" value="Log ud" />
                  </form>
                </div>

                <a class="pt-0 text-center" asp-action="EditPassword" asp-controller="Account">
                  <i class="fas fa-user-cog offset-1" style="font-size: 50px"></i>
                  <h5>@User.Identity.Name</h5>
                </a>
              </div>

            } else {
              <div class="mt-4 mb-4">
                <a asp-action="Login" asp-controller="Account">Log In</a>
              </div>
            }
          </div>
        </div>
      </nav>
    </header>
  }
  <div class="p-5">
    <main role="main" class="pb-3 ">
      @RenderBody()
    </main>
  </div>

  <footer class="border-top footer text-muted">
  </footer>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</body>
</html>

@if (IsSectionDefined("Scripts")) {
  @await RenderSectionAsync("Scripts", required: true)
}

<style>
  .vl {
    border-left: 2px solid green;
    height: 50px;
  }

  a {
    color: white;
    font-size: 20px;
    cursor: pointer;
  }

    a:hover {
      color: #17a2b8;
      text-decoration: none;
    }

  input:hover {
    color: #17a2b8;
    text-decoration: none;
  }

  .astuff {
    margin-top: 10px;
    margin-right: 20px;
    padding: 15px;
  }
</style>
