
<div class=" p-3">
  <a class="btn btn-lg btn-info" asp-controller="Charts" asp-action="CourseStudents">Se fravær for en klasse</a>
</div>
<div class=" p-3">
  <a class="btn btn-lg btn-info" asp-controller="Charts" asp-action="CourseStudentsDays">Se fravær for Billys klasse</a>
</div>

