

@*<td class="text-center">
</td>
<td class="text-center">
  <input type="checkbox" name="[@i].status" value="absence" />
</td>
<td class="text-center">
  <input type="checkbox" name="[@i].status" value="virtuel" />
</td>*@ 