@model IQueryable<Student>

@{
  ViewData["Title"] = "Home Page";
}


<form asp-action="AbsenceList" method="post">
  <table class="table-bordered bg-white">
    <thead>
      <tr>
        <th>Navn</th>
        <th>Fremmødt</th>
        <th>Fraværende</th>
        <th>Virtuelt Tilstede</th>
      </tr>
    </thead>
    <tbody>
      @foreach (Student s in Model) {
        <tr>
          <td>
            @s.Name
          </td>
          <td class="text-center">
            <input type="checkbox" name="attended" value="@s.StudentId" />
          </td>
          <td class="text-center">
            <input type="checkbox" name="absence" value="@s.StudentId" />
          </td>
          <td class="text-center">
            <input type="checkbox" name="virtual" value="@s.StudentId" />
          </td>
        </tr>
      }
    </tbody>
  </table>

  <div>
    <input class="btn bg-white" type="submit" value="Submit" />
  </div>
</form>