@model Course

@{
  Layout = "_Layout";
}

  <form asp-action="CreateCourse" method="post">
    <div asp-validation-summary="All"></div>
    <p>
      <label asp-for="Name">Course Name:</label>
      <input asp-for="Name" /> <br /><br />

      <label asp-for="Educator">Educator:</label>
      @Html.DropDownList("Educator", new SelectList(ViewBag.EducatorList), "Select Educator"); 
      <br /><br />

      <label asp-for="StartDate">Start Date:</label>
      <input asp-for="StartDate" /> <br /><br />

      <label asp-for="EndDate">End Date:</label>
      <input asp-for="EndDate" /> <br /><br />

    </p>

    <button type="submit">Submit course</button>
</form>
